<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center m-3">
  <h1>City Fusion</h1>
</div>

<div class="row align-items-center m-3">
  <div class="d-flex justify-content-center"> 
    <select id="select1">
      <option value="default1">Sélectionnez une ville</option>
      <option value="bordeaux1">Bordeaux</option>
      <option value="paris1">Paris</option>
      <option value="toulouse1">Toulouse</option>
    </select>

    <select id="select2">
      <option value="default2">Sélectionnez une ville</option>
      <option value="bordeaux2">Bordeaux</option>
      <option value="paris2">Paris</option>
      <option value="toulouse2">Toulouse</option>
    </select>
  </div>
</div>

<div class="d-flex justify-content-center m-3">
  <button class="btn btn-primary" onclick="fusion()">Fusion</button>
</div>

<div class="lesImages d-flex justify-content-center">
  <img id="image" src="https://rb.gy/jlm13s">
</div>

<script>
  function fusion() {
    const select1 = document.getElementById("select1");
    const select2 = document.getElementById("select2");
    const value1 = select1.value;
    const value2 = select2.value;
    const image = document.getElementById("image");
    //console.log("Selected value 1: " + value1); justify-content-lg-around
    //console.log("Selected value 2: " + value2);

    if (value1 === "bordeaux1" && value2 === "toulouse2") { //BORDEAUX x TOULOUSE
      image.src ="https://rb.gy/cbr6lt";
    } else if (value1 === "bordeaux1" && value2 === "paris2") { //BORDEAUX x PARIS
      image.src ="https://rb.gy/wwiklu";
    } else if (value1 === "bordeaux1" && value2 === "bordeaux2") { //BORDEAUX x BORDEAUX (error 2)
      image.src ="https://rb.gy/rw3mvd";
    } else if (value1 === "bordeaux1" && value2 === "default2") { //BORDEAUX x NULL (error 1)
      image.src ="https://rb.gy/sylnl2";
    } else if (value1 === "paris1" && value2 === "toulouse2") { //PARIS x TOULOUSE
      image.src ="https://rb.gy/ajsqx1";
    } else if (value1 === "paris1" && value2 === "bordeaux2") { //PARIS x BORDEAUX
      image.src ="https://rb.gy/wwiklu";
    } else if (value1 === "paris1" && value2 === "paris2") { //PARIS x PARIS (error 2)
      image.src ="https://rb.gy/rw3mvd";
    } else if (value1 === "paris1" && value2 === "default2") { //PARIS x NULL (error 1)
      image.src ="https://rb.gy/sylnl2";
    } else if (value1 === "toulouse1" && value2 === "paris2") { //TOULOUSE x PARIS
      image.src ="https://rb.gy/ajsqx1";
    } else if (value1 === "toulouse1" && value2 === "bordeaux2") { //TOULOUSE x BORDEAUX
      image.src ="https://rb.gy/cbr6lt";
    } else if (value1 === "toulouse1" && value2 === "toulouse2") { //TOULOUSE x TOULOUSE (error 2)
      image.src ="https://rb.gy/rw3mvd";
    } else if (value1 === "toulouse1" && value2 === "default2") { //TOULOUSE x NULL (error 1)
      image.src ="https://rb.gy/sylnl2";
    } else if (value1 === "default1" && value2 === "bordeaux2") { //NULL x BORDEAUX (error 1)
      image.src ="https://rb.gy/sylnl2";
    } else if (value1 === "default1" && value2 === "paris2") { //NULL x PARIS (error 1)
      image.src ="https://rb.gy/sylnl2";
    } else if (value1 === "default1" && value2 === "toulouse2") { //NULL x TOULOUSE (error 1)
      image.src ="https://rb.gy/sylnl2";
    }
  }
/*
    if (value1 === "default1" && value2 === "default2") { //sample
      document.getElementById('image').src ="https://rb.gy/jlm13s";
    } else if (value1 === "default1" && value2 === "paris2", "bordeaux2", "toulouse2") { //error 1
      document.getElementById('image').src ="https://rb.gy/sylnl2";
    } else if (value1 === "paris1", "bordeaux1", "toulouse1" && value2 === "default2") { //erorr 1
      document.getElementById('image').src ="https://rb.gy/sylnl2";
    }
    
    if (value1 === "bordeaux1" && value2 === "bordeaux2") { //erorr 2
      document.getElementById('image').src ="https://rb.gy/rw3mvd";
    }
    
    if (value1 === "paris1" && value2 === "paris2") { //erorr 2
      document.getElementById('image').src ="https://rb.gy/rw3mvd";
    }
    
    if (value1 === "toulouse1" && value2 === "toulouse2") { //erorr 2
      document.getElementById('image').src ="https://rb.gy/rw3mvd";
    }

  }
  /* IMAGES LINKS:
  SAMPLE : https://rb.gy/jlm13s
  ERROR1 : https://rb.gy/sylnl2
  ERROR2 : https://rb.gy/rw3mvd
  BORDEAUX x PARIS : https://rb.gy/wwiklu
  BORDEAUX x TOULOUSE : https://rb.gy/cbr6lt
  PARIS x TOULOUSE : https://rb.gy/ajsqx1
  */
</script>

<!--
<div class="container text-center">
    <form class="formulaire row align-items-center m-5" id="form">
      <div class="col">
        <select class="ville1 form-select" aria-label="Default select example">
          <option selected>Select the first city</option>
          <option id="Bordeaux1" value="1">Bordeaux</option>
          <option id="Toulouse1" value="2">Toulouse</option>
          <option id="Paris1" value="3">Paris</option>
        </select>
      </div>

      <div class="col">
        <select class="ville2 form-select" aria-label="Default select example">
          <option selected>Select the second city</option>
          <option id="Bordeaux2" value="1">Bordeaux</option>
          <option id="Toulouse2" value="2">Toulouse</option>
          <option id="Paris2" value="3">Paris</option>
        </select>
      </div>
</div>

<div class="js-content"></div>

<div class="d-flex justify-content-center">
  <button class="fusion btn btn-primary center m-5" type="submit" onclick="fusion()">Fusion</button>
</div>
</form>

<p id="test"></p>
<div class="lesImages d-flex justify-content-center">
  <img id="image" src="https://rb.gy/ajsqx1">
</div>


--------------------------------------------------------------------------------------------------SCRIPT-
<script>


  const form = document.querySelector("#form");
  let Bordeaux1 = document.getElementById("#Bordeaux1");
  let Toulouse1 = document.querySelector("#Toulouse1");
  let Paris1 = document.querySelector("#Paris1");

  let Bordeaux2 = document.querySelector("#Bordeaux2");
  let Toulouse2 = document.querySelector("#Toulouse2");
  let Paris2 = document.querySelector("#Paris2");

/*
  function fusion() {
    document.getElementById("test").innerHTML =  Bordeaux1;
    //document.getElementById('image').src ="https://rb.gy/cbr6lt";
    
    if (form = Bordeaux1 && Toulouse2){ //Bordeaux x Toulouse
      document.getElementById('image').src ="https://rb.gy/cbr6lt";
    }
*/
</script>

-->
