<p style="color: green"><%= notice %></p>

<h1>City Fusion</h1>

<!-- //CODE DE BASE DU SCAFFOLD D'ARTICLE
<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
-->

<div class="container text-center">
  <div class="row align-items-center">
    </form>
      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select the first city</option>
          <option value="1">Bordeaux</option>
          <option value="2">Toulouse</option>
          <option value="3">Paris</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select the second city</option>
          <option value="1">Bordeaux</option>
          <option value="2">Toulouse</option>
          <option value="3">Paris</option>
        </select>
      </div>
  </div>
</div>

<button class="btn btn-primary center" type="submit">Fusion</button>
</form>